@tailwind base;
@tailwind components;
@tailwind utilities;




.hero-section {
  width: 100%;
  background-image: linear-gradient(rgba(96, 118, 143, 0.5), rgba(80, 79, 141, 0.5)),
    url(../src/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
} 



.banner{
   height: 50vh;
  width: 100%;
  background-image: 
    url(../src/assets/clap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.auth{
  background-image: linear-gradient(rgba(70, 28, 236, 0.5), rgba(148, 148, 197, 0.5)),
  url(../src/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:bottom;
}

.events-header{
  height: 55vh;
  background-image: linear-gradient(rgba(15, 14, 15, 0.719), rgba(85, 63, 212, 0.582)),
  url('https://images.pexels.com/photos/2747446/pexels-photo-2747446.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}


@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}


/* Add this to your existing styles or create a new CSS file */
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

.pulsating-text {
  animation: pulse 2s infinite;
}


/* Add this to your existing styles or create a new CSS file */
@keyframes rotateArrows {
  0% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(90deg);
  }
  50% {
      transform: rotate(180deg);
  }
  75% {
      transform: rotate(270deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* styles.css */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes createEvent {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -100%);
  }
}

@keyframes approveEvent {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(100%, 0);
  }
}

@keyframes holdEvent {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 100%);
  }
}

.animate-create-event {
  animation: createEvent 3s ease-in-out infinite, fadeIn 1s ease-in-out;
}

.animate-approve-event {
  animation: approveEvent 3s ease-in-out infinite, fadeIn 1s ease-in-out;
  animation-delay: 1s;
}

.animate-hold-event {
  animation: holdEvent 3s ease-in-out infinite, fadeIn 1s ease-in-out;
  animation-delay: 2s;
}
